*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // height: 100%;
}

html{
    height: 100%;
}

.down{
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

// body{
//     overflow-x: hidden;
// }

.footer{
    background-color: black;
    width: 100vw;
    height: 250px;
    // position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer{
    bottom: 0;
    left: 0;
    right: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top h1{
    color: white;
    font-family: "Ubuntu";
}

.top h3{
    color: red;
    font-family: "Ubuntu";
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}