<div class="container" id="resume-content">
    <div class="sidebar">
        <div class="profile-picture">
            <img *ngIf="userDetails.profileImg" [src]="userDetails.profileImg" alt="Profile Picture" class="img-thumbnail">
        </div>
        <h1 class="name">{{userDetails.name}}</h1>
        <!-- <h2 class="job-title">JOB TITLE HERE</h2> -->
        <div class="profile">
            <h3>PROFILE</h3>
            <p>{{userDetails.objective}}</p>
        </div>
        <div class="contact">
            <h3>CONTACT</h3>
            <p><strong>Phone:</strong> {{userDetails.phone}}</p>
            <p><strong>Email:</strong> <a href="mailto:someone@example.com">{{userDetails.email}}</a></p>
            <p><strong>LinkedIn:</strong> <a [href]="userDetails.linkedin" target="_blank">{{userDetails.linkedin}}</a></p>
            <p><strong>Github:</strong> <a [href]="userDetails.github" target="_blank">{{userDetails.github}}</a></p>
            <div class="hobbies">
                <strong><h5>Hobbies</h5></strong>
            <ul style="list-style: none;">
                <li *ngFor="let hobbie of userDetails.hobbies">
                    {{hobbie}}
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="main-content">

        <div class="section">
            <h3>SKILLS</h3>
            <ul>
                <li *ngFor="let skill of userDetails.skills">{{skill}}</li>
            </ul>
        </div>

        <div class="section">
            <h3>EDUCATION</h3>
            <ul class="education-entry">
                <li *ngFor="let edu of userDetails.educations">{{edu}}</li>
            </ul>
        </div>

    </div>
</div>

<div class="download">
    <button class="download" (click)="downloadPDF()">DOWNLOAD RESUME</button>
</div>