<div class="body" id="resume">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
        </style>
    <!-- FORM -->
    <div class="container" id="resume-form">
        <h1 class="text-center my-4 display-1">Resume Builder</h1>
        <!-- ROW-1  -->
        <div class="row">

            <!-- Personal Details COL-1-->
            <div class="col-md-5">
                <h3 class="text-center pd">Personal Details</h3>

                <div class="form-group mt-3">
                    <label for="full-name">Name</label>
                    <input type="text" id="full-name" placeholder="Full Name" required="true" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="dob">DOB</label>
                    <input type="date" id="dob" placeholder="Full Name" required="true" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" placeholder="10 Digit phone number" required="true"
                        class="form-control">
                </div>
                <div class="form-group mt-2">
                    <label for="email">E-Mail</label>
                    <!-- <input type="tel" id="email" placeholder="someone@example.com" required="true" class="form-control"><br> -->
                    <input type="email" id="email" placeholder="example@domain.com" required="true"
                        class="form-control">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

                </div>
                <div class="form-group mt-2">
                    <label for="address">Address</label>
                    <textarea id="address" cols="30" rows="3" placeholder="Present Address" required="true"
                        class="form-control"></textarea>
                </div>

                <div class="form-group mt-2">
                    <label for="profile-img">Profile Picture</label>
                    <input type="file" id="profile-img" accept="image/*" class="form-control"
                        placeholder="upload profile picture" onchange="previewImage(event)">

                    <img src="#" alt="Uploaded Image" srcset="" style="display: none;" id="image-preview"
                        class="img-thumbnail">
                </div>


                <!-- Personal Links -->
                <h4 class="my-3">Links</h4>
                <!-- <h5 class="text-secondary my-3">Links</h5> -->
                <div class="form-group">
                    <label for="linkedin">LinkedIn
                        <i class="fa-brands fa-linkedin"></i>
                    </label>
                    <input type="text" id="linkedin" class="form-control" placeholder="Enter LinkedIn URL">
                </div>
                <div class="form-group mt-1">
                    <label for="github">Github
                        <!-- <i class="fa-brands fa-square-github"></i> -->
                        <i class="fa-brands fa-github"></i>
                    </label>
                    <input type="text" id="github" class="form-control" placeholder="Enter Github URL">
                </div>
            </div>


            <!-- Professional Details COL-2 -->
            <div class="col-md-7" id="professional-details-form">
                <h3 class="text-center pd">Professional Details</h3>

                <!-- Objective  -->
                <div class="form-group mt-3">
                    <label for="objective">Objective</label>
                    <textarea id="objective" placeholder="Write a short objective you want to pitch"
                        class="form-control"></textarea>
                </div>

                <!-- Skills -->
                <div id="add-skill-input-div" class="mt-2 text-start">
                    <label for="skill-input">Skills</label>
                    <div class="input-group" id="skill-input-section">
                        <input type="text" [(ngModel)]="newSkill" class="form-control" id="skill-input" placeholder="Enter your relevant skill">
                    <div class=" input-group-append">
                        <button class="btn btn-primary" id="skill-input-button" type="button" (click)="addSkill()">Add
                            <i class=" fa-solid fa-circle-plus"></i>
                        </button>
                    </div>
                </div>
                <div id="skills" *ngFor="let skill of skills; let i = index">
                    <div class="skill-item my-2 d-flex justify-content-between ">
                        <span>{{skill}}</span>
                        <button class="btn btn-danger btn-sm" (click)="removeSkill(i)">Remove</button>
                    </div>
                </div>
            </div>
            <!-- https://getbootstrap.com/docs/4.0/components/input-group/ -->


            <!-- Work Experience -->
            <div class="form-group mt-2" id="experience-div">
                <label for="experience">Experience</label>
                <textarea id="experience-1" [(ngModel)]="newWE" cols="30" rows="3" placeholder="Enter work/project experience"
                    class="form-control we-field"></textarea>

                <div class="d-grid d-md-flex gap-2 justify-content-md-end mt-2" id="we-btns-div">
                    <button class="btn btn-primary" id="we-add-btn" (click)="addWorkExperience()">Add Experience
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>

                <div id="experiences" *ngFor="let exp of experiences; let i = index">
                    <div class="experience-item my-2 d-flex justify-content-between bg-white p-2 border rounded">
                        <span>{{exp}}</span>
                        <button class="btn btn-danger btn-sm" (click)="removeWorkExperience(i)">Remove</button>
                    </div>
                </div>
            </div>


            <!--  Education -->
            <div class="form-group mt-2" id="education-div">
                <label for="education">Education</label>
                <textarea id="education-1" [(ngModel)]="newEd" cols="30" rows="3" placeholder="Enter academic qualifiaction"
                    class="form-control ed-field"></textarea>

                <!-- <div class="container text-center mt-2" id="ed-btns-div"> -->
                <div class="d-grid d-md-flex gap-2 justify-content-md-end mt-2" id="ed-btns-div">
                    <button class="btn btn-primary"  id="ed-add-btn" (click)="addEducation()">Add Education
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>
            </div>
            <div id="educations" *ngFor="let ed of educations; let i = index">
                <div class="skill-item my-2 d-flex justify-content-between bg-white p-2 border rounded">
                    <span>{{ed}}</span>
                    <button class="btn btn-danger btn-sm" (click)="removeEducation(i)">Remove</button>
                </div>
            </div>
        </div>

    </div>
    <div class="container text-center mt-4 mb-3 submit-btn">
        <button (click)="startOver()" class="btn btn-outline-secondary">Reset
            <i class="fa-solid fa-rotate-right"></i>
        </button>
        <button class="btn btn-success">Generate Resume
            <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>
    </div>

    </div>


</div>
