
<div class="cont">
  <div class="boxx">
    <h1>Welcome to the Resume Builder and Email Generator!</h1>
    <div class="about">
      <h4 style="color: cadetblue;">This application helps you create professional resumes and generate formal emails with ease.</h4>
      <h3>Choose your level of expertise to get started:</h3>
    </div>
    <div class="innerContent">
      <span><button class="button-17" role="button" (click)="navigateTo('fresher')">FRESHER</button></span>
      <span><button class="button-17" role="button" (click)="navigateTo('main')">SKILLED</button></span>
    </div>
  </div>
</div>
